* {
    margin: 0;
    padding: 0;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2c2a2a;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.logo img {
    width: 300px;
    height: auto;
}
.logo-text {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.items_counter-container {
    display: flex;
    justify-content: space-around;
}

.items_counter {
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: rgb(112, 240, 62);
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px 0;
}
.items_count-change,.items_count {
    padding: 4px 25px;  
    font-size: 1.2rem;  
}
.items_count-change:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.items_count-change:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

.container .card:hover .items_counter {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.7s;
}
.items_count-change:hover{
    background-color: rgb(85, 187, 44);
    transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 800px) {
    .items_counter {
        opacity: 1;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        box-sizing: border-box;
        overflow: hidden;
        margin: 10px 0;
        visibility: visible;
    }
    .logo img {
        width: 150px;
        height: 70px;
    }
    .logo-text h3 {
        font-size: 18px;
        font-weight: 500;
    }
}




.card-container {
    padding: 5px;
}

.container{
  position: relative;
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}


@media only screen and (max-width: 800px) {
    .container .card .contentBx{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 210px;
        text-align: center;
        z-index: 10;
      }
      .container .card .contentBx .size, .container .card .contentBx .color {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 1;
        visibility: visible;
      }
      .container .card .contentBx h2 {
          margin-bottom: 10px;
      }
}



.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx .btn{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
  z-index: 10;
}


.container .card:hover .contentBx .btn{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
.btn:hover {      
    background-color: rgb(166, 235, 145);
}

@media only screen and (max-width: 800px) {
    .container .card .contentBx .btn{
        opacity: 1;
        transform: translateY(0);
        
      }
}


.product-price {
    position: absolute;
    background: #11e95b;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: -10px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
    z-index: 100;
  }

.container {
    position: relative;
}




.cart {
    font-size: 20px;

}
.count {
    display: flex;
    align-items: center;
}
.cart-container {
    margin: 5px;
    background-color: rgb(233, 224, 224);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.cart-item_img img {
    margin-top: 15px;
    height: 70px;
}
.cart-item_info p {
    font-size: 18px;
    margin-top: 15px;
}
.cart-item_price_block {
    display: flex;
    align-items: center;
}
.cart-total {
    margin-top: 10px;
}

.card{
    margin-bottom: 10px;
}



@media only screen and (max-width: 800px) {
    .container .card .imgBx {
        position: absolute;
        top: 20%;
        z-index: 10000;
        width: 100%;
        height: 170px;
        transition: 0.5s;
      }
      .product-price {
        margin-top: 15px;
        margin-left: 65px;
        margin-bottom: -10px;
      }
      .card{
          margin-bottom: 20px;
      }
}


.container-s {
    display: flex;
    justify-content: center;
}

.main-container {
    margin-bottom: 50px;
}
